<ion-view title="SmartPark - Home">
    <ion-content padding="true" has-bouncing="true">
        <div class="col-80 col-offset-10 margin-top-20">
            <img src="../img/logo.png" />
        </div>
        <div class="col-80 col-offset-10 margin-top-20">
            <button ng-click="homepageCtrl.GetStudentDataWithHeader('tkaminski93@gmail.com')">GetStudentDataWithHeader</button>
            <br />
            <button ng-click="homepageCtrl.GetStudentDataWithoutHeader('tkaminski93@gmail.com')">GetStudentDataWithoutHeader</button>
            <br />
            <button ng-click="homepageCtrl.CheckUserHeader('tkaminski93@gmail.com')">CheckUserHeader</button>
        </div>
    </ion-content>
</ion-view>