<ion-view title="SmartPark - Ustawienia">
    <ion-content has-bouncing="false" overflow-scroll="false">
        <div class="col-80 col-offset-10 margin-top-20">
            <img src="../img/logo.png" />
        </div>
        <div class="margin-top-20">
            <h4 class="no-padding-border">Zmiana hasła</h4>
            <div class="list" ng-form name="passwordForm">
                <label class="item item-input item-floating-label" ng-class="{'has-error':passwordForm.newPassword.$invalid && passwordForm.newPassword.$touched}">
                    <span class="input-label">Nowe hasło</span>
                    <input type="password" placeholder="Nowe hasło" ng-model="newPassword" required name="newPassword"
                           id="newPassword">
                    <span class="form-error" ng-show="passwordForm.newPassword.$error.required && passwordForm.newPassword.$touched">Podaj nowe hasło.</span>
                    <span class="form-error"
                          ng-show="(passwordForm.newPassword.$error.minlength) && passwordForm.newPassword.$touched">Hasło musi mieć minimum 8 znaków!</span>
                </label>
                <label class="item item-input item-floating-label" id="passwordLabel" ng-class="{'has-error':passwordForm.password.$invalid && passwordForm.password.$touched}">
                    <span class="input-label">Obecne hasło</span>
                    <input type="password" placeholder="Obecne hasło" required name="password" ng-model="password" id="password" ng-minlength="8">
                    <span class="form-error" ng-show="passwordForm.password.$error.required && passwordForm.password.$touched">Podaj hasło!</span>
                    <span class="form-error"
                          ng-show="(passwordForm.password.$error.minlength) && passwordForm.password.$touched">Hasło musi mieć minimum 8 znaków!</span>
                </label>
            </div>
            <div class="row no-padding">
                <button class="button button-full button-positive" ng-class="{'disabled': settings.globalLoading==true || passwordForm.$invalid}" ng-click="settings.changePassword(password,newPassword)">
                    Zmień hasło
                </button>
            </div>
        </div>
        <div class="margin-top-20">
            <h4 class="no-padding-border">Zmiana emaila</h4>
            <div class="list" ng-form name="formEmail">
                <label class="item item-input item-floating-label" ng-class="{'has-error':formEmail.email.$invalid && formEmail.email.$touched}">
                    <span class="input-label">Nowy adres email</span>
                    <input type="email" placeholder="Nowy adres email" ng-model="email" required name="email"
                           id="email">
                    <span class="form-error" ng-show="formEmail.email.$error.required && formEmail.email.$touched">Podaj nowy adres email!</span>
                    <span class="form-error"
                          ng-show="formEmail.email.$error.email && formEmail.email.$touched">To nie jest prawidłowy adres email!</span>
                </label>
                <label class="item item-input item-floating-label" id="passLabel" ng-class="{'has-error':formEmail.pass.$invalid && formEmail.pass.$touched}">
                    <span class="input-label">Hasło</span>
                    <input type="password" placeholder="Hasło" required name="pass" ng-model="pass" id="pass" ng-minlength="8">
                    <span class="form-error" ng-show="formEmail.pass.$error.required && formEmail.pass.$touched">Podaj hasło!</span>
                    <span class="form-error"
                          ng-show="(formEmail.pass.$error.minlength) && formEmail.pass.$touched">Hasło musi mieć minimum 8 znaków!</span>
                </label>
            </div>
            <p class="text-center" ng-show="settings.errorEmail!=''">{{settings.errorEmail}}</p>
            <button class="button button-full button-positive" ng-click="settings.changeEmail(email,pass)" ng-show="!formEmail.$invalid" ng-class="{'disabled':formEmail.$invalid || settings.globalLoading==true}">
                Zmień email
            </button>
        </div>
    </ion-content>
</ion-view>