<ion-view title="SmartPark - About">
    <ion-content has-bouncing="true" overflow-scroll="false">
        <div class="col-80 col-offset-10 margin-top-20">
            <img src="../img/logo.png"/>
        </div>
        <div class="margin-top-20">
            <p>
                Projekt zrealizowany w ramach pracy dyplomowej o temacie: "System parkingowy ATH". W skład projektu wchodzi: <br />1. Aplikacja mobilna <br />
                2. Panel zakupowy<br />
                3. System dokonywania płatności
            </p>
            <h3>Autor: inż. Tomasz Kamiński</h3>
            <h4>Promotor: dr inż. Szymon Tengler</h4>
            <h4>Projekt graficzny: inż. Katarzyna Jasiewicz</h4>
        </div>
    </ion-content>
</ion-view>