<ion-side-menus>

    <ion-side-menu-content>
        <ion-footer-bar class="bar-smart-blue">
            <div class="buttons">
                <h1 class="title"><img src="../images/swipe-icon.png"/>PRZESUŃ, BY WYŚWIETLIC MENU</h1>
                <button class="button button-icon button-clear ion-navicon" ng-click="layout.toggleLeft()"></button>
            </div>
        </ion-footer-bar>
        <ion-nav-view name="content"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left" class="side-menu-smart-blue">
        <ion-content overflow-scroll="false" has-bouncing="false">
            <div class="row side-menu-logo">
                <div class="col col-67">
                    <img src="../images/logo_white.png" />
                </div>
                <div class="col col-33 menu-text">MENU</div>
            </div>
            <div class="list" id="layoutList">
                <div ng-if="layout.getUserContext().loggedIn===true">
                    <div class="item" style="text-transform: none"><b>Witaj, {{layout.getUserContext().userName}}</b>
                        <div class="border-bottom-fixed"></div>
                    </div>
                    <div class="item" ng-click="layout.goTo('app.homepage')">
                        <i class="icon ion-ios-home-outline"></i>Home
                        <div class="border-bottom-fixed"></div>
                    </div>
                    <div class="item" ng-click="layout.goTo('app.settings')"><i class="icon ion-ios-gear-outline"></i>Ustawienia
                        <div class="border-bottom-fixed"></div>
                    </div>
                    <div class="item" ng-click="layout.logout()"><i class="icon ion-android-exit"></i>Wyloguj
                        <div class="border-bottom-fixed"></div>
                    </div>
                </div>
                <div ng-if="layout.getUserContext().loggedIn===false">
                    <div class="item" ng-click="layout.goTo('app.homepage')">
                        <i class="icon ion-ios-home-outline"></i>Home
                        <div class="border-bottom-fixed"></div>
                    </div>
                    <div class="item" ng-click="layout.goTo('app.forgot')">
                        <i class="icon ion-ios-unlocked-outline"></i> Zapomniane hasło
                        <div class="border-bottom-fixed"></div>
                    </div>
                </div>
                <div class="item" ng-click="layout.goTo('app.about')">
                    <!--<i class="icon ion-ios-heart-outline"></i>-->
                    <img src="../images/smartpark-mini.png" style="margin-left: 7px;"/>O aplikacji
                    <div class="border-bottom-fixed"></div>
                </div>
                <div class="item">
                    <img src="../images/swipe-icon-left.png"/> Przesuń, aby zwinąć
                    <div class="border-bottom-fixed"></div>
                </div>
            </div>
            <div class="sidenav-copyright"><span class="copyright-sign">&copy;</span><br/>copyright smartPARK</div>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>